<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/standard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>CRUD API</title>
</head>
<body>
    <header>
        <div class="header_resource">
            <h1>Library Title</h1>
        </div>
        <div class="header_resource">
            <h2>Search Input</h2>
            <h2>Search Button</h2>
        </div>
        <div class="header_resource">
            <a href="/collection">Collection</a>
        </div>
    </header>
    
    
    <main>
        <p>Lorem ipsum</p>
    </main>
    
    
    <footer>
        <h1>FOOTER</h1>
    </footer>
</body>
</html>